.project-title {
  color: white;
  animation: slideIn 0.9s;
  height: 20px;
  animation-fill-mode: forwards;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.project-title-wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(20px);
    opacity: 1;
  }
}

.project-wrapper {
  font-family: 'Roboto Condensed', Sans-Serif;
  max-width: 750px;
  margin: 20px 50px;
  line-height: 1.5;
  flex: 1 0;
}

.project-wrapper p {
  padding-top: 18px;
}

.project-wrapper img {
  max-width: 500px;
}

/* second page */
.project-page {
  height: 180vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 0;
  color: #1c1c1c;

  /* added for Sketch */
  position: relative;
}

.photo-left {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.photo-left p {
  width: 230px;
  line-height: 1.6;
  align-self: center;
  padding-right: 30%;
}

#transparent-bg {
  max-height: 430px;
  transform: rotate(-30deg) translate(-50px, -20px);
}

.photo-vertical {
  margin-top: -80px;
  max-height: 550px;
}

.photo-horizontal {
  max-width: 600px;
  align-self: center;
}

.photo-right {
  padding-right: 30px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.photo-right img {
  max-height: 400px;
}

.photo-right p {
  align-self:center;
  width: 230px;
  line-height: 1.6;
  padding-left: 110px;
}

.arrow-down {
  position: absolute;
  top: 92vh;
  right: 50vw;
  transform: scale(1.8) rotate(180deg);
  animation: arrowdownmove 900ms infinite alternate;
}

@keyframes arrowdownmove {
  0%{
    transform: scale(1.8) rotate(180deg) translateY(0px);
  }
  100% {
    transform: scale(1.8) rotate(180deg) translateY(4px);
  }
}

.sketch-center {
  padding-top: 80px;
  align-self: center;
  font-family: 'Raleway', Sans-Serif;
  font-weight: lighter;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
}
